#footer {
	position: fixed;
	vertical-align: middle;
	bottom: 0;
	height: 20px;
	width: 100%;
	background-color: #e6e6e6;
	z-index: 5000;
}

#footerText {
	 color: #737373;
	 text-align: center;
}

#registerForm {
	width: 25%;
	float: right;
}